.git
.github
.antigravity
.cursor
.windsurf
.junie
node_modules
vendor
storage/*.key
storage/logs/*
storage/app/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
.env
.env.backup
phpunit.xml
Dockerfile
docker-compose.yml
README.md
